



<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>⚡Fubon Insight</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/4227e4c400.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
        
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
</head>

<body>
<div id="confirmationModal" class="hidden">
  <div class="modal-content">
      <div class="title">確認事件</div>
      <p id="modalText">事件名稱：</p>
      <div id="modalButtons">
          <button id="confirmButton">繼續</button>
          <button id="cancelButton">重新搜尋</button>
      </div>
  </div>
</div>
<div id="his_confirmationModal" class="hidden">
  <div class="modal-content">
      <div class="title">確認歷史事件</div>
      <p>請確認是否要以此關鍵字去搜尋歷史事件</p>
      <div id="historyKeywordContainer">
        <p style="display: inline;">歷史事件關鍵字：</p>
        <button id="his_adjustment" onclick="adjustment()" style="border: none; background: none; font-size: 10px;text-decoration:underline; display: inline;">修改</button>
      </div>
      <div id="his_adjust" class="hidden">
        <label>修改歷史事件關鍵字: </label>
        <input type="text" placeholder="輸入歷史事件關鍵字" style="border: #000 1px solid; background-color: #fff; color:#000;">
      </div>
      <div id="modalButtons">
          <button id="his_confirmButton">搜尋</button>
      </div>
  </div>
  </div>
<div id="regenertationModal" class="hidden" >
  <div class="modal-content">
      <div class="title">重新搜尋</div>
      <form id="regenerate_form">
        <label>請重新輸入事件名稱</label>
        <input type="text" placeholder="Enter an Event" id="user_input_event_2" required/>
        <div id="modalButtons">
          <button type="submit" id="send">送出</button>
        </div>

      </form>
      
  </div>
</div>
<!--彈出視窗-->
<div style='position:fixed;width:100%;height:100%;background-color:rgb(0,0,0,0.65)' id='modal'>
    <div class='modal' id='modalw'>
        <img id='bgImg' />
    </div>
</div>
<div id="loadingContainer"  class="hidden">
  <div class="loading-content">
    <div class="loading-icon">
      <i class="fa-solid fa-wand-magic-sparkles fa-fade fa-xl" style="color: black; justify-content: flex-end"></i>
    </div>
    <div class="loading-text">
      <p style="color: black; font-weight: bold;">因果分析製作中，請稍等...</p>
    </div>
  </div>
</div>


<div class="w3-sidebar w3-bar-block w3-border-right" style="display:block;" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large" style="text-align: right;">&times;</button>
  <h4 style="text-align: center;line-height: 10px;font-weight:bolder;color: white;">FUBON INSIGHT</h4>
  <h3 style="text-align: center;color: white; font-weight: bolder;">CASUAL ANALYSIS</h3>
  <form id="input-form">
  <div class="inner-form" style="margin-top: 50px; margin-left: 5%;">
   <label for="user_input_event">EVENT </label>
   <input class="form-control" type="text" id="user_input_event" placeholder="Enter an Event(必填)" required/>
   <script type="text/javascript">
    KGSearchWidget(key="AIzaSyC-do9AgWGWbNl2OrEfpsiYu8PSNjJxkY0", document.getElementById("user_input_event"), {});
   </script>
    <i class="fa-solid fa-circle-info tooltip" style="color: #ffffff;">
      <span class="tooltiptext">請輸入想要知道的具體事件</span>
    </i>
   <label for="user_input_company" >COMPANY </label>
   <input class="form-control" type="text" id="user_input_company" placeholder="Related Company(選填)" >
   <script type="text/javascript">
     KGSearchWidget(key="AIzaSyC-do9AgWGWbNl2OrEfpsiYu8PSNjJxkY0", document.getElementById("user_input_company"), {});
    </script>
     <i class="fa-solid fa-circle-info tooltip" style="color: #ffffff;">
      <span class="tooltiptext">請優先輸入公司完整股票代碼或公司名稱</span>
    </i>
    <label for="user_input_hint">HINT </label>
    <input type="text" class="form-control" id="user_input_hint" placeholder="Point of view(選填)" >
    <i class="fa-solid fa-circle-info tooltip" style="color: #ffffff;">
      <span class="tooltiptext">請輸入事件特定觀點角色 如:軟體業、科技業</span>
    </i>
     <button class="btn-search" type="submit" style="margin-left: 8%; margin-top: 15px;">Search
     <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                   <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
        </svg>
    </button> 
  </div>
</form>


  <hr>
  <div id="tab" style="margin-top:10%">
	   <a id=li_casual class="w3-bar-item w3-button" href="javascript:go_casual(); ">
            <i class="fa-solid fa-diagram-project fa-lg" style="color: #fff;margin-right: 8px;"></i>因果分析</a>
       <a id=li_history class="w3-bar-item w3-button" href="javascript:go_history();">
            <i class="fa-solid fa-calendar-days fa-lg" style="color: #fff;margin-right: 8px;"></i>歷史事件</a>
       <a id=li_financedata class="w3-bar-item w3-button" href="javascript:go_financedata();">
            <i class="fa-solid fa-arrow-trend-up fa-lg" style="color: #fff; margin-right: 8px;"></i></i>財務數據</a>
       <a id=li_investadvice class="w3-bar-item w3-button" href="javascript:go_investadvice();">
          <i class="fa-solid fa-magnifying-glass-chart fa-lg" style="color: #fff;margin-right: 8px;"></i>彙總分析</a>  
  </div>
</div>  

<div id="header" style="display: flex;justify-content: space-between ;">
	<div>
		<button class="w3-button w3-teal w3-xlarge" style="display:none;" onclick="w3_open()" id="open_btn">></button>
	</div>
</div>


<div id="container" class="container" style="float:right;  width:72%;">
        <span id="casual"></span>
        <span id="history"></span>
        <span id="financedata"></span>
        <span id="invest_advice"></span>
        <div id="intro" class="active" tyle="margin-left:3%;padding:1px 16px;min-height:800px;text-align: left;overflow: hidden; margin-bottom: 8%;">
          <img src="static\因果流程圖.png" style="width: 94%; margin-top: 5%; margin-left: 3%; margin-right: 3%;">
        </div>

        

        <!-- 頁籤的內容區塊 -->
        <div id="div_casual"  class="casual_content" style="margin-left:3%;padding:1px 16px;min-height:800px; display: none;text-align: left;overflow: hidden; margin-bottom: 8%;">
        <div id="div_casual_answer">
          
                      
        </div>  

        <div id="pointer"> 
          <div style="width:100%; float:left;">
            <h4 class="title-heading">我的觀點</h4>
            <div id="point" class="contain_css">
                <p>觀點</p>
            </div>
          </div>   
          </div>  
      
        <div id="div_casual_answer"> 
        <div style="width:100%; float:left;">
          <h4 class="title-heading">觀點分析</h4>
          <div id="casual_point" class="contain_css">
              <p>觀點分析內容</p>
          </div>
        </div>   
        </div>  

        <div id="news_contain">
          <div style="width:100%; float:left;">
            <h4 class="title-heading">近期新聞</h4>
            <a href="#" id="ref_button">參考連結</a>
            <br>
            <div id="news" class="contain_css">
             <p>近期新聞</p> 
            </div>
          </div>
        </div>


        </div>
        
            
                 
        
            
            
        <div id="div_history" class="history_content" style="margin-left:3%;padding:1px 16px;min-height:800px; display: none;text-align: left;overflow: hidden;">

            <div id="timeline" class="timeline">
                
            </div>
            </div>
              
              
            
            
        <div id="div_financedata" class="financedata_content" style="margin-left:3%;padding:1px 16px;min-height:800px; display: none;">
            <div class="tab_financialdata">
                <button class="btn-search-fin" type="submit" onclick="document.getElementById('title_event_effect').scrollIntoView();">$</button>
                <div class="hide">事件股價影響</div>
                <button class="btn-search-fin" type="submit" onclick="document.getElementById('title_RSI').scrollIntoView();">$</button>
                <div class="hide">RSI</div>
                <button class="btn-search-fin" type="submit" onclick="document.getElementById('title_bands').scrollIntoView();">$</button>
                <div class="hide">布林通道</div>
                <button class="btn-search-fin" type="submit" onclick="document.getElementById('title_MACD').scrollIntoView();">$</button>
                <div class="hide">MACD</div>
                <button class="btn-search-fin" type="submit" onclick="document.getElementById('title_value').scrollIntoView();">$</button>
                <div class="hide">淨值&市值</div>
                <button class="btn-search-fin" type="submit" onclick="document.getElementById('title_keyfinancial').scrollIntoView();">$</button>
                <div class="hide">營收相關資訊</div>
                <button class="btn-search-fin" type="submit" onclick="document.getElementById('title_incomeclose').scrollIntoView();">$</button>
                <div class="hide">收入與收盤價</div>
                <button class="btn-search-fin" type="submit" onclick="document.getElementById('title_gprofitclose').scrollIntoView();">$</button>
                <div class="hide">毛利與收盤價</div>
                <button class="btn-search-fin" type="submit" onclick="document.getElementById('title_ratio').scrollIntoView();">$</button>
                <div class="hide">財務比率</div>   
            </div>

            <div id="event_detail_stock_analysis" class="contain_css">

            </div>
            <h4 id="title_event_effect" class="title-heading">事件股價影響</h4>
                    
                    <div id="event_effect" class="contain_css" >
                        <p>事件對股價影響</p>
                   </div>
                   <div id="graph_event_effect">
                        
                   </div>
            <h4 id="title_RSI" class="title-heading">RSI</h4>
                    <div id="graph_RSI">
                        
                    </div>

            <h4 id="title_bands" class="title-heading">布林通道</h4>
                    <div id="graph_bands">
                        
                    </div>
            <h4 id="title_MACD" class="title-heading">MACD</h4>
                    <div id="graph_MACD">
                        
                    </div>
            <h4 id="title_value" class="title-heading">淨值&市值</h4>
                    <div id="graph_value">
                        
                    </div>
            <h4 id="title_keyfinancial" class="title-heading">營收相關資訊</h4>
                    <div id="graph_keyfinancial">
                        
                    </div>
            
            <h4 id="title_gprofitclose" class="title-heading">毛利與收盤價</h4>
                    <div id="graph_gprofitclose">
                        
                    </div>
            <h4 id="title_ratio" class="title-heading">財務比率</h4>
                    <div id="graph_ratio">
                        
                    </div>

          
        </div>
        
        <div  id="div_investadvice" class="invest_advice_content" style="margin-left:3%;padding:1px 16px;min-height:800px; display: none;">
            
            <div id="invest_result" class="contain_css" style="width:100%; text-align: left;">
                  
            </div>
            <h2 class="left-align">參考連結</h2>
            <div id="reference" style="margin-top:1%; text-align: left;">
                
            </div>
        </div>  
              
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script type="text/javascript">

  function adjustment() {
    document.getElementById("his_adjust").style.display = "block";
  }


	function w3_open() {
		document.getElementById("mySidebar").style.display = "block";
		document.getElementById("container").style.width = "72%";
		document.getElementById("container").style.float = "right";
	}
	function w3_close() {
		document.getElementById("open_btn").style.display = "block";
		document.getElementById("mySidebar").style.display = "none";
		document.getElementById("container").style.width = "100%";
		document.getElementById("container").style.float = "none";
	}


	function go_casual(){ 
            document.getElementById("intro").style.display="none";    
            document.getElementById("li_casual").classList.add("active");
            document.getElementById("li_history").classList.remove("active");
            document.getElementById("li_financedata").classList.remove("active");
            document.getElementById("li_investadvice").classList.remove("active");
            document.getElementById("div_casual").style.display="block";
            document.getElementById("div_history").style.display="none";
            document.getElementById("div_financedata").style.display="none";
            document.getElementById("div_investadvice").style.display="none";
    }
    function go_history(){ 
             document.getElementById("intro").style.display="none";
            document.getElementById("li_casual").classList.remove("active");
            document.getElementById("li_history").classList.add("active");
            document.getElementById("li_financedata").classList.remove("active");
            document.getElementById("li_investadvice").classList.remove("active");
            document.getElementById("div_casual").style.display="none";
            document.getElementById("div_history").style.display="block";
            document.getElementById("div_financedata").style.display="none";
            document.getElementById("div_investadvice").style.display="none";
    }
         
    function go_financedata(){ 
            document.getElementById("intro").style.display="none";
            document.getElementById("li_casual").classList.remove("active");
            document.getElementById("li_history").classList.remove("active");
            document.getElementById("li_financedata").classList.add("active");
            document.getElementById("li_investadvice").classList.remove("active");
            document.getElementById("div_casual").style.display="none";
            document.getElementById("div_history").style.display="none";
            document.getElementById("div_financedata").style.display="block";
            document.getElementById("div_investadvice").style.display="none";
    }

    function go_investadvice(){ 
            document.getElementById("intro").style.display="none";
            document.getElementById("li_casual").classList.remove("active");
            document.getElementById("li_history").classList.remove("active");
            document.getElementById("li_financedata").classList.remove("active");
            document.getElementById("li_investadvice").classList.add("active");
            document.getElementById("div_casual").style.display="none";
            document.getElementById("div_history").style.display="none";
            document.getElementById("div_financedata").style.display="none";
            document.getElementById("div_investadvice").style.display="block";
    }

</script>	
</body>
</html>